.btn {
    padding: 12px 24px;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-family: 'YoshisIsland', sans-serif;
    font-size: 28px;
  }